body {
    font-family: 'Open Sans', sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.hidden {
    display: none !important;
}

.container {
    position: relative;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


/* navigation style */

.left-pane-navigation {
    flex: 0 0 15%;
    max-width: 15%;
    height: 100vh;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    position: fixed;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}

.mt-50 {
    margin-top: 50px;
}

.left-pane-navigation .fa {
    margin-right: 10px;
}

.left-pane-navigation .logo {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 88px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.left-pane-navigation .logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-left: 3px solid red;
    border-top: 3px solid rgba(255, 0, 0, 0.7);
}

.left-pane-navigation .logo::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-right: 3px solid red;
    border-bottom: 3px solid rgba(255, 0, 0, 0.7);
}

.left-pane-navigation .nav-container {
    margin-top: 70px;
}

.left-pane-navigation .copyright-text {
    margin-top: 100px;
}

.left-pane-navigation ul li {
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    padding-left: 40px;
}

.left-pane-navigation ul li a {
    text-decoration: none;
    color: black;
}

.left-pane-navigation ul li a:hover {
    color: rgba(255, 0, 0, 0.7);
    position: relative;
    margin-left: 5px;
}

.left-pane-navigation ul li a.active {
    color: rgba(255, 0, 0, 0.7);
}


/* right pane content styles */

.right-pane-content {
    flex: 0 0 85%;
    margin-left: 15%;
}

.right-pane-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    flex: 0 0 100%;
}

.home-screen-details img {
    background-color: red;
    width: 350px;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 4px;
    display: block;
}

.home-screen-details img:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.home-screen-details .social-links {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding: 0 140px;
    margin-top: 25px;
}

.home-screen-details .social-links a {
    height: 40px;
    width: 40px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.home-screen-details .social-links a:hover {
    color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.home-screen-details .my-name {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    line-height: 40px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    text-transform: capitalize;
}

.home-screen-details .my-name:hover {
    color: rgba(0, 0, 0, 0.8);
}

.home-screen-details .position {
    text-align: center;
    margin-top: 8px;
    font-size: 15px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.4);
    text-transform: capitalize;
}

.home-screen-details .position:hover {
    color: rgba(0, 0, 0, 0.6);
}

.about-screen-details {
    width: 100%;
    margin-top: 50px;
    margin-left: 25px;
}

.about-screen-details:last-child {
    margin-bottom: 30px;
}

.about-screen-details .header {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
}

.about-screen-details .header::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: red;
}

.about-screen-details .header::after {
    content: '';
    position: absolute;
    top: 115%;
    left: 0;
    width: 25px;
    height: 4px;
    background-color: red;
}

.about-screen-details .sub-header {
    flex: 0 0 100%;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 600;
}

.about-screen-details .sub-header span {
    color: rgba(255, 0, 0, 0.9);
    font-style: italic;
}

.about-me-text {
    flex: 0 0 100%;
    margin-top: 25px;
    padding-right: 8%;
    line-height: 22px;
    word-spacing: 3px;
    color: rgba(0, 0, 0, 0.6);
}

.about-screen-details .personal-info {
    flex: 0 0 60%;
    margin-top: 45px;
}

.about-screen-details .personal-info .personal-info-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
}

.about-screen-details .personal-info .personal-info-content h5 {
    display: inline-block;
    margin-right: 3px;
}

.about-screen-details .personal-info .personal-info-content span {
    color: rgba(0, 0, 0, 0.5);
}

.about-screen-details .personal-info .personal-info-content div {
    flex: 0 0 50%;
    padding: 10px;
    padding-left: 0px;
    position: relative;
}

.about-screen-details .personal-info .personal-info-content div::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 1px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.2)
}

.about-screen-details .skills {
    flex: 0 0 35%;
    margin-top: 45px;
}

.about-screen-details .skills .skill-item {
    width: 100%;
    margin-bottom: 20px;
}

.about-screen-details .skills .skill-item .skill-name {
    display: inline-block;
    width: 50%;
}

.about-screen-details .skills .skill-item .skill-percentage-text {
    float: right;
    color: rgba(0, 0, 0, 0.6);
}

.about-screen-details .skills .skill-item .percentage {
    height: 5px;
    width: 100%;
    background-color: #e8e8ec;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
}

.about-screen-details .skills .skill-item .percentage .in-progress {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.9);
    position: absolute;
    border-radius: 5px;
}

.timeline {
    flex: 0 0 45%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    padding: 10px 20px;
    margin-right: 5%;
}

.about-screen-details .education-header {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
    margin-top: 20px;
}

.about-screen-details .education-header::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    height: 2px;
    width: 75px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 2px;
}

.about-screen-details .education-institute-details {
    padding-bottom: 50px;
    position: relative;
    padding-left: 25px;
}

.about-screen-details .education-institute-details::before {
    position: absolute;
    content: '';
    top: 0;
    left: -6px;
    background-color: red;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.about-screen-details .education-institute-details::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: red;
    height: 100%;
    width: 1px;
}

.about-screen-details .education-institute-details:last-child::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: red;
    height: 65%;
    width: 1px;
}

.about-screen-details .education-institute-details .fa-calendar {
    margin-right: 5px;
}

.about-screen-details .education-institute-details .education-institute-joining-date {
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.about-screen-details .education-institute-details .education-institute-course {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 600;
}

.about-screen-details .education-institute-details .education-institute-course-details {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.about-screen-details .education-institute-details .education-institute-position {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.about-screen-details .education-institute-details .education-institute-position>span {
    border: 1px solid rgba(255, 0, 0, 0.5);
    flex: 0 0 auto;
    border-radius: 10px;
    padding: 1px 14px;
    margin: 0 2px;
    box-shadow: 0px 2px 3px 0px rgba(255, 0, 0, 0.1);
    margin-top: 5px;
    position: relative;
    margin-right: 20px;
    background: linear-gradient(15deg, rgba(255, 0, 0, 0.05), transparent);
}

.about-screen-details .education-institute-details .skills-tag {
    margin-top: 10px;
}

.about-screen-details .education-institute-details .skills-tag span {
    border: 1px solid rgba(0, 0, 0, 0.09);
    flex: 0 0 auto;
    border-radius: 10px;
    padding: 1px 14px;
    margin: 0 2px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.09);
    margin-top: 5px;
}